<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/css/pokeGallery.css">
</head>
<body>
    <nav class="custom-navbar">
        <a href="/">Inicio</a>
    </nav>
    <div class="page-content">
        <div class="container">
            <div class="Header">Pokedex</div>
    
            <div class="Image">
                <img id="Imagen" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/001.png" alt="Pokemon" width="300" height="300">
            </div>
    
            <div class="Buttons">
                <button class="button two" onclick="changeImg(-10)">&lt;&lt;</button>
                <button class="button one" onclick="changeImg(-1)">&lt;</button>
                <button class="button one" onclick="changeImg(1)">&gt;</button>
                <button class="button two" onclick="changeImg(10)">&gt;&gt;</button>
            </div>
        </div>
    </div>

    <script>
        function changeImg(move) {
            const img = document.getElementById("Imagen");
            let url = img.src;

            let num = parseInt(url.match(/(\d+)\.png$/)[1]);

            num = Math.max(1, Math.min(1025, num + move));
            
            const newNum = num.toString().padStart(3, '0');
            img.src = url.replace(/(\d+)\.png$/, `${newNum}.png`);
        }
    </script>
</body>
</html>
