body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-navbar {
    background-color: #333;
    padding: 1em;
    text-align: left;
}

.custom-navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

.custom-navbar a:hover {
    color: #d3d3d3;
}

.page-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333333;
}

.display {
    font-size: 32px;
    padding: 10px;
    width: 100%;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    font-size: 20px;
    padding: 15px 0;
    background-color: #98a2cd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #727eb4;
}

.button.equals {
    background-color: #4CAF50;
}

.button.equals:hover {
    background-color: #45a049;    
}

.button.operator {
    background-color: #f9a825;
}

.button.operator:hover {
    background-color: #df941c;
}

.button.clear {
    background-color: #e57373;
}

.button.clear:hover {
    background-color: #ce6161;
}