body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.custom-navbar {
    background-color: #333;
    padding: 1em;
    text-align: left;
}

.custom-navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

.custom-navbar a:hover {
    color: #d3d3d3;
}

.page-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.Header {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333333;
}

.button {
    width: 50px;
    font-size: 20px;
    padding: 15px 0;
    background-color: #98a2cd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #7983af;
}